<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wuxian.me.andbootstrap">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name="wuxian.me.andbootstrapdemo.base.BaseActionbarActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
    </application>

</manifest>
